Package: com.yan.hiddenlock14
Name: HiddenLock14
Version: 1.0.1
Architecture: iphoneos-arm
Description: Locks the hidden photos section, just as how it should be.
Maintainer: yan
Author: yan
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Conflicts: com.miro.shortmoji2, com.miro.shortmoji
Depiction: https://yandevelop.github.io/depic/HiddenLock14/index.html
SileoDepiction: https://yandevelop.github.io/depic/HiddenLock14/hl14dp.json
Icon: https://yandevelop.github.io/assets/icons/hl14/icon.png